.App {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    color: black;
    font-size: 10px;
}

/* .timeCounter {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.tabsList {
    width: 100%;
}

.tabInfo {
    display: flex;
    justify-content: space-between;
}
